html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e3eef9;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    flex: 1;
    padding: 20px;
}

header {
    background-color: #2d3e50; /* Dark blue background for the header */
    color: white;
    padding: 5px 0;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 20px;
}

.logo img {
    width: 80px;
    height: auto;
}

.company-name h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.logo, .company-name {
    margin-right: 20px; 
}

.header-nav {
    text-align: center;
    background-color: #6699CC;
    padding: 5px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #000;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
}

nav .submenu {
    display: none;
    z-index: 20;
    position: absolute;
    background-color: #90BFCA;
    border: 1px solid #333; 
    min-width: 200px;
    white-space: nowrap;
}

nav .submenu li {
    padding: 5px 10px;
    clear: both;
}

nav .submenu li a {
    color: white;
}

nav li:hover > .submenu {
    display: block;
}

nav .submenu ul {
    top: 0;
    left: 100%;
}

nav .submenu li a:hover {
    color: #000;
}

nav ul li a, nav .submenu li a {
    transition: color 0.3s;
}

.content-area {
    display: flex;
    width: 100%;
}

.table-container, .preview-container {
    flex: 1; /* Each container takes up equal space */
    box-sizing: border-box;
    padding: 20px;
    background-color: #e3eef9;
}
.table-container {
    align-items: center;
    text-align: center;
    padding: 20px;
}

.preview-container {
    position: relative;
    z-index: 10;
    padding: 20px;
    max-height: 85vh;
    overflow: auto; /* Enable scroll if content overflows */
}

.preview-content {
    height: 100%; /* Set height to fill the preview container */
}

table {
    max-width: 100%; /* Prevent the table from exceeding its container */
    align-items: center;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #6699CC;
    color: white;
}

.table-title {
    text-align: center; /* Center the text for the title cell */
}

.data-table td:first-child, .data-table th:first-child {
    width: 350px; /* Set the desired width here */
    font-weight: bold; /* Ensures all first column cells are bold */
}

.data-table img {
    display: block;
    margin: auto;
    width: 200px; /* Match the width set in JavaScript */
    height: auto;
}

.column-2, .column-3 {
    max-width: 150px; /* Adjust the max-width as needed */
    word-wrap: break-word; /* Enable word wrapping */
}

.view-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0; /* Optional: Background color for the button */
    border: 1px solid #ccc; /* Optional: Border for the button */
}

@media screen and (max-width: 600px) {
    th, td {
        width: 100%; /* Each column takes full width on small screens */
        display: block; /* Stack the cells vertically */
    }
}

footer {
    background-color: #2d3e50; /* Dark blue background for the footer */
    color: white;
    text-align: center;
    padding: 1px 0;
    font-size: 14px;
}

.footer-contact, .footer-copy {
    text-align: center;
}

#data-container {
    width: 80%;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: #e3eef9; /* Light blue background for the container */
    border-radius: 10px;
}

#preview-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    display: none; /* Hidden by default */
    width: 50%; /* Set a fixed width for the modal */
    height: 80%; /* Set a fixed height for the modal */
}

#preview-modal .modal-content {
    position: relative;
    width: 100%; /* Ensure content uses full width */
    height: 100%; /* Ensure content uses full height */
    background-color: #fff;
    cursor: default;
    padding-bottom: 50px; /* Space for the 'View' button */
}

#preview-modal iframe {
    width: 100%;
    height: calc(100% - 70px); /* Adjusted to leave space for the button */
    border: none;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
}

.view-button {
    position: absolute;
    bottom: 10px; /* Position at the bottom */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0; /* Optional: Background color for the button */
    border: 1px solid #ccc; /* Optional: Border for the button */
}
