/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e3eef9;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header Styles */
header {
    background-color: #2d3e50; /* Dark blue background */
    color: white;
    padding: 5px 0;
}

.header-top {
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

.logo img {
    width: 80px; /* Set in HTML inline styles: 110px */
}

.company-name h1 {
    margin: 0;
    font-size: 30px;
}

.logo, .company-name {
    margin-right: 20px;
}

.header-nav {
    background-color: #6699CC;
    padding: 5px 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #000;
}

/* Dropdown Menu Styles */
nav .submenu {
    display: none;
    position: absolute;
    background-color: #90BFCA;
    border: 1px solid #333;
    min-width: 200px;
    z-index: 20;
}

nav li:hover > .submenu {
    display: block;
}

/* Content Area Styles */
.content-area {
    display: flex;
    flex-wrap: nowrap;
}

.table-area, .preview-area {
    flex: 1;
    display: none; /* Both initially hidden, shown by JS */
    overflow: auto;
    max-height: 80vh;
    box-sizing: border-box;
    height: 100%;
}

.active {
    display: flex; /* Display when active */
}

.table-container, .preview-container {
    flex: 1;
    padding: 20px;
    background-color: #e3eef9;
    overflow: auto;
    height: 100%;
}

/* Table Styles */
table {
    max-width: 100%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    height: 20px;
}

th {
    background-color: #6699CC;
    color: white;
}

.column-2, .column-3 {
    max-width: 150px;
    word-wrap: break-word;
}

/* Button Styles */
.view-button, .close-preview {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}

.view-button {
    background-color: #f0f0f0;
    color: black;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.close-preview {
    background-color: #f44336;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Footer Styles */
footer {
    background-color: #2d3e50; /* Dark blue background */
    color: white;
    text-align: center;
    padding: 1px 0;
    font-size: 14px;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    th, td {
        display: block;
        width: 100%;
    }

    .preview-container {
        max-height: 100vh;
    }
}
